<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>

<div class="container col-sm-12" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="row">
    <form action="/upload-contacts" method="post" enctype="multipart/form-data">
           <b>Contact:</b> <input type="file" name="contactFile" id="contactFile" accept=".xml"/>
           <input class="btn btn-primary" type="submit" style="border-radius: 4px;" name="contactFile" value="Upload">
       </form>
  </div>
</div>

</body>
</html>